body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f2f2f2;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.form-group {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 13px;
  background: #1976d2;
  color: white;
  border: none;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.clear-btn { background: #777; }

.table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:nth-child(even) {
  background: #f9f9f9;
}